.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
  height: 4.6rem;
  @include media-query($medium-up) {
    width: 230px;
  }
}

a.button {
  line-height: 4.6rem;
  text-decoration: none;
}


@mixin black-hover() {
  &:active, &:focus {
    background: $black;
    color: white !important;
  }
  @media (hover:hover) {
    &:hover {
      background: $black;
      color: white !important;
    }
  }
}

@mixin yellow-button-hover() {
  @include black-hover();
  &[disabled], &.disabled {
    pointer-events: none;
    color: gray !important;
  }
}

.button--light-yellow {
  @extend .background-light-yellow;
  @include yellow-button-hover();
}

.button--medium-yellow {
  @extend .background-medium-yellow;
  @include yellow-button-hover();
}

.button--dark-yellow {
  @extend .background-dark-yellow;
  @include yellow-button-hover();
}

.button--black {
  background: $black;
  color: $white !important;
  @media (hover: hover) {
    &:hover {
      background-color: $color-yellow-dark;
      color: $black !important;
    }
  }

  &:active, &:focus {
    background-color: $color-yellow-dark;
    color: $black !important;
  };

  &[disabled], &.disabled {
    background: lighten($black, 45%);
    pointer-events: none;
  }
}
