.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
  a {
    text-decoration: none;
  }
  height: 46px;
  @include media-query($small) {
    max-width: 230px;
  }
}

.button--black {
  background: $black;
  color: $white;
}
