html {
  background-color: $white;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  min-height: 100%;
}

hr {
  border: none;
  background: $color-body-text;
  height: 1px;
  width: 100px;
  margin: 50px auto;
}

.background-light-yellow {
  background: $color-yellow-light;
}

.background-dark-yellow {
  background: $color-yellow-dark;
}

.bold {
  font-weight: bold;
}