
@mixin responsive-typography($breakpoint: '') {
  // sass-lint:disable no-important

  .#{$breakpoint}headline-l {
    @include headline();
    font-size: 4.3rem;
    line-height: 5.1rem;
    letter-spacing: .15rem;
  }

  .#{$breakpoint}body-xs {
    font-family: $font-body;
    font-size: 1.5rem;
    line-height: 2.6rem;
  }

  .#{$breakpoint}body-s {
    font-family: $font-body;
    font-size: 2.0rem;
    line-height: 2.9rem;
  }

  .#{$breakpoint}body-l {
    font-family: $font-body;
    font-size: 3.6rem;
    line-height: 4.8rem;
  }

  .#{$breakpoint}body-xxl {
    font-family: $font-body;
    font-size: 5.8rem;
    line-height: 6.8rem;
  }
}


/*================ Build Responsive Grid Classes ================*/

@include responsive-typography();
@each $breakpoint in $breakpoint-has-widths {
  @include media-query($breakpoint) {
    @include responsive-typography('#{$breakpoint}--');
  }
}
