
@mixin responsive-typography($breakpoint: '') {
  // sass-lint:disable no-important

  .#{$breakpoint}headline-l {
    @include headline();
    font-size: 4.3rem;
    line-height: 5.2rem;
  }
  .#{$breakpoint}body-m {
    @include body();
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
  .#{$breakpoint}body-l {
    @include body();
    font-size: 2.0rem;
    line-height: 2.7rem;
  }
}


/*================ Build Responsive Grid Classes ================*/

@include responsive-typography();
@each $breakpoint in $breakpoint-has-widths {
  @include media-query($breakpoint) {
    @include responsive-typography('#{$breakpoint}--');
  }
}
