html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  margin: 0;
  font-weight: normal;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}


@mixin body() {
  font-family: $font-body;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  color: $color-body-text;
}

@mixin headline() {
  font-family: $font-heading;
  text-transform: uppercase;
  font-weight: normal;
}

@mixin numeral() {
  font-family: $font-numeral;
  font-weight: normal;
}

.body {
  @include body();
}

.headline {
  @include headline();
}

.numeral {
  @include numeral();
}

a, a:hover, a:active, a:visited {
  color: inherit;
}

