<div class="page">
  <div class="page__header">
    <h1 class="page__header-inner medium-up--headline-xl small--headline-s">{{ 'general.404.title' | t }}</h1>
  </div>
  <div class="page__content background-light-yellow">
    <div class="page__content-inner">{{ 'general.404.subtext_html' | t }}</div>
  </div>
</div>
