<div class="page">
  <div class="page__header">
    <h1 class="medium-up--headline-xl small--headline-s">{{ page.title }}</h1>
  </div>
  <div class="page__content background-light-yellow">
    <div class="page__content-inner">{{ page.content }}</div>
  </div>
</div>
