<?xml version="1.0" encoding="UTF-8"?>
<svg class="{{ class }}" {{ attributes }} width="20px" height="20px" viewBox="0 0 20 20" noscale version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.6 (67491) - http://www.bohemiancoding.com/sketch -->
    <title>X 20px</title>
    <desc>Created with Sketch.</desc>
    <g id="X-20px" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <path d="M3,3 L17.1421356,17.1421356" id="Line-3" stroke="#000000"></path>
        <path d="M3,3 L17.1421356,17.1421356" id="Line-3" stroke="#000000" transform="translate(10.071068, 10.071068) scale(1, -1) translate(-10.071068, -10.071068) "></path>
    </g>
</svg>