.email-capture {
  .email-capture__success {
    display: none;
  }
  .email-capture__error {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
  }
  &[data-state="error"] {
    .error-message {
      display: block;
    }
  }
  &[data-state=success] {
    .email-capture__success {
      display: block;
    }
  }
  .email-capture__success {

  }

  &__email {
    width: 200px;
  }
  &__inputs {
    margin: 27px auto 0;
    padding-bottom: 8px;
    display: inline-block;
    border-bottom: 1px solid $color-form;
  }
  &__input {
    display: inline-block;
    color: $color-form;
  }
  &__button {
    padding: 0;
    path {
      fill: currentColor;
    }
  }
  &__input, &__button {
    border: none;
    background: transparent;
    color: $color-form;
  }
  &__input::placeholder {
    color: $color-form;
  }

}


@include media-query($small) {
  #shopify-section-email-capture .email-capture {

  }
}