#shopify-section-footer {
  a {
    text-decoration: none;
  }

  .footer {
    padding: $desktop-margin;
    color: $color-body-text;
    padding-bottom: 200px;

    &__top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    
    &__left {
      display: flex;
      flex-direction: column;
      
      &__contact {
        display: flex;
        flex-direction: column;
        padding-bottom: 60px;

        &__prompt {
          padding-bottom: 20px;
        }
      }
    }

    &__right {
      display: flex;

      &__menu {
        padding-left: 120px;

        ul {
          @include plain-list();   
          padding-top: 30px;       
  
          li {
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;
          }
        }
      }
    }

    &__social {
      padding-bottom: 60px;
  
      .social-links {
        a {
          padding-right: 30px;
        }
      }
    }
    

    &__legal {
      display: flex;
      justify-content: space-between;
      border-top: solid 1px black;
      padding-top: 40px;
      
      &__left {
        display: flex;
        flex-direction: column;
      }

      &__right {
        display: flex;
    
        a {
          padding-left: 50px;
        }
      }

      img {
        max-width: 100px;
        padding-bottom: 10px;
      }

      @include media-query($small) {
        padding-top: 20px;
        flex-direction: column;


        &__right {
          flex-direction: column;
          padding-top: 5px;
    
          a {
            padding: 5px 0; 
          }
        }
      }
    }
  }

  @include media-query($small) {
    .footer {
      padding: $mobile-margin;
      padding-bottom: 200px;
      
      ul {
      }
    }
  }
}
