#shopify-section-header {
  position: absolute;
  z-index: 2;
  width: 100%;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
    height: 112px;
    a {
      text-decoration: none;
    }
    &__logo {
      img {
        max-width: 146px;
        display: block;
      }
    }
    &__nav {

      &__submenu {
        &__close {
          position: absolute;
          top: 50px;
          right: 50px;
          cursor: pointer;
          svg {
            width: 15px;
            height: 15px;
          }
        }
        &__list {
          padding: $desktop-margin;
          z-index: 1;
          position: fixed;
          background: $color-yellow-dark;
          top: 0;
          right: 100%;
          width: 50%;
          height: 100%;
          transform: translate3d(0, 0, 0);
          transition: transform .5s;
          li {
            display: block;
          }
        }
      }
      &__submenu.active {
        .header__nav__submenu__list {
          transform: translate3d(100%, 0, 0);
        }
      }
      &__primary {
        @include plain-list();

        > li {
          display: inline-block;
          &:not(:first-child) {
            margin-left: 65px;
          }
        }
      }
    }

  }
  @include media-query($medium-up) {
    .header {
      &__logo, &__nav {
        vertical-align: baseline;
        line-height: 1;
      }
    }
  }
  @include media-query($small) {
    .header {
      padding: 0 $mobile-margin/2;
      height: 40px;
      &__logo {
        img {
          max-width: 80px;
        }
      }
    }
  }
}

@mixin sticky-header($selector) {
  #{$selector} {
    #shopify-section-header {
      top: 0;
      position: sticky;
      position: -webkit-sticky;
      background: $white;
    }
  }
}


