$header-height-mobile: 60px;
@mixin mobile-header () {
  height: $header-height-mobile;
  display: flex;
  align-items: center;
  padding: 0 $mobile-margin;
  width: 100%;
}

@mixin slider() {
  position: fixed;
  top: 0;
  transition: left .5s;
}

#shopify-section-header {
  position: fixed;
  z-index: 2;
  width: 100%;
  .header {
    a {
      text-decoration: none;
    }
    &__hamburger {
      cursor: pointer;
    }
    &__logo {
      img {
        max-width: 146px;
        display: block;
      }
    }
    &__nav {

      &__submenu {
        &__close {
          display: block;
          position: absolute;
          cursor: pointer;
          width: 14px;
          height: 14px;
        }
        &__list {
          background: $color-yellow-dark;
          @include slider();
          z-index: -1;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          ul {
            @include plain-list();
            min-height: 50%;
          }
          li {
            display: block;
            &:not(:last-child) {
              margin-bottom: 30px;
            }
          }
        }
        &.active {
          .header__nav__submenu__link {
            text-decoration: underline;
          }
        }
      }

      &__primary {
        position: relative;
        z-index: 3;
        @include plain-list();
        > li {
          display: inline-block;
          &:not(:first-child) {
            margin-left: 65px;
          }
        }
      }
    }

  }
  @include media-query($medium-up) {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 $desktop-margin;
      height: 112px;

      &__logo, &__nav {
        vertical-align: baseline;
        line-height: 1;
      }
      &__nav__submenu{
        &__list {
          padding: $desktop-margin;
          left: -50%;
          width: 50%;
        }
        &__close {
          top: 50px;
          right: 50px;
        }
      }
      &__nav__submenu.active .header__nav__submenu__list {
        left: 0;
      }
      &__nav, &__right {
        flex: 1;
      }
    }
  }
  @include media-query($small) {
    .header {
      @include mobile-header();
      justify-content: space-between;

      &__nav{
        &__primary, &__submenu__list {
          left: -100%;
        }
        &__primary {
          @include mobile-header()
          @include slider()
          height: $header-height-mobile;
        }
        &__submenu {
          &__list {
            width: 100%;
            padding: $mobile-margin;
          }
          &__close {
            top: $header-height-mobile / 2;
            right: $header-height-mobile / 2;
            transform: translate3d(50%, -50%, 0)
          }
        }
      }


      &.subnav-active .header__nav__primary,
      &__nav__submenu.active .header__nav__submenu__list {
        left: 0;
      }

      &__logo {
        img {
          max-width: 80px;
        }
      }
    }
  }
}

@mixin sticky-header($selector) {
  #{$selector} {
    #shopify-section-header {
      top: 0;
      position: sticky;
      position: -webkit-sticky;
      background: $white;
    }
  }
}


