.homepage-hero {

  &__button {
    display: block;
    margin: 15px auto 15px 0;
    line-height: 4.6rem;
    width: 100%;
  }

  @include media-query($small) {
    &__copy-container {
      margin: $mobile-margin;
    }
    &__heading {
      margin: $mobile-spacing 0;
    }
    &__subline {
      margin: $mobile-spacing 0;
    }
    &__buttons {
      margin-bottom: 72px;
    }
  }

  @include media-query($medium-up) {
    &__section {
      position: relative;
    }
    &__copy-container {
      position: absolute;
      bottom: 0;
      right: 0;
      min-width: 33%;
    }
    &__copy {
      max-width: 257px;
      margin-right: $desktop-margin;
    }
    &__heading {
      margin: $desktop-spacing 0;
    }
    &__subline {
      margin: $desktop-spacing 0;
    }
    &__buttons {
      margin-bottom: 72px;
    }
    &__button {
      width: 230px;
    }
  }

}