.homepage-image-cta {
  @include media-query($medium-up) {
    &__section {
      position: relative;

    }
    &__copy-container {
      position: absolute;
      bottom: 0;
      right: 0;
      width: $homepage-text-width-desktop;
      padding: $desktop-margin;
    }
    &__copy {
      max-width: 288px;
    }
    &__subline {
      margin-top: 68px;
    }
  }
}