.homepage-buttons {

  &__button {
    display: block;
    padding: 64px $mobile-margin;
    text-decoration: none;
  }
  &__heading {
    padding: 16px $mobile-margin;
  }
  @include media-query($medium-up) {
    margin-bottom: $homepage-gap-desktop-m;
    &__buttons {
      display: flex;
    }
    &__heading {
      padding: 64px $desktop-margin;
    }
    &__button {
      width: 50%;
      padding: 82px $desktop-margin;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      span {
        display: block;

      }
    }
  }

}