.homepage-hero {


  @include media-query($medium-up) {
    &__section {
      position: relative;
    }
    &__copy-container {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    &__copy {
      width: 230px;
      margin: $header-height-desktop 6vw 5vw 6vw;
    }
    &__subline {
      margin-top: 25px;
    }
  }

}