.homepage-hero {


  @include media-query($medium-up) {
    &__section {
      position: relative;
    }
    &__copy-container {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: $desktop-margin $desktop-margin 72px;
      width: $homepage-text-width-desktop;
    }
    &__copy {
      max-width: 230px;
    }
    &__subline {
      margin-top: 25px;
    }
  }

}