.homepage-split {
  @include media-query($medium-up) {
    &__section {
      display: flex;
      align-items: stretch;
      justify-content: stretch;
      &.reverse {
        flex-direction: row-reverse;
      }
    }
    &__image {
      flex: 1;
      &.inset {
        padding: 0 125px;
      }
    }
    &__copy {
      flex: $homepage-text-width-desktop 0 0;
      padding: 0 80px 0 $desktop-margin;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      p {
        margin: 0;
      }
    }

    + .homepage-split {
      margin-top: 163px;
    }
  }
  @include media-query($small) {
    &__copy {
      margin-bottom: 42px;
    }
  }
}

.homepage-split--centered.homepage-split {
  @include media-query($medium-up) {
    .homepage-split__image {
      padding-left: 125px;
    }
    .homepage-split__copy {
      padding: $desktop-margin;
      justify-content: center;
      align-items: center;
    }
  }
}

