.homepage-image-cta {
  @include media-query($medium-up) {
    &__section {
      position: relative;

    }
    &__copy-container {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 40px 14% 40px 0;
    }
    &__copy {
      max-width: 288px;
    }
    &__subline {
      margin-top: 68px;
    }
  }
}