<section data-section-id="{{ section.id }}" data-section-type="homepage-split" class="homepage-split__section {% if section.settings.layout == 'text_first' %} reverse {% endif %}">
  <div class="homepage-split__image">
    {% include 'responsive-image', image: section.settings.mobile_image, wrapper_class: 'medium-up--hide' %}
    {% include 'responsive-image', image: section.settings.desktop_image, wrapper_class: 'small--hide' %}
  </div>
  <div class="homepage-split__copy homepage-split__copy--centered homepage-copy">
    <div class="homepage-split__heading homepage-copy__heading body-m bold">
      {{ section.settings.text }}
    </div>
  </div>
</section>

{% schema %}
  {
    "class": "homepage-split homepage-split--centered",
    "name": "Image / Centered Text",
    "settings": [
      {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Desktop Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "checkbox",
        "id": "mobile_hide",
        "label": "Hide Image on Mobile",
        "default": true
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>@CoterieBaby</p><p>#CoterieBaby</p>"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Order of Image & Text",
        "default": "image_first",
        "options": [
          {
            "label": "Image First",
            "value": "image_first"
          },
          {
            "label": "Text First",
            "value": "text_first"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image / Centered Text",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}