<section data-section-id="{{ section.id }}" data-section-type="homepage-icons" class="homepage-icons__section">
  <div class="homepage-icons__container small--hide">{{ "icons-placeholder-large.svg" | asset_url | img_tag: shop.name }}</div>
  <div class="homepage-icons__container medium-up--hide">{{ "icons-placeholder-small.svg" | asset_url | img_tag: shop.name }}</div>
</section>


{% schema %}
  {
    "class": "homepage-icons",
    "name": "Icons",
    "presets": [
      {
        "name": "Icons",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}