<section class="product clearfix" data-section-type="product" data-section-id="{{ section.id }}">


  {%- assign current_variant = product.selected_or_first_available_variant -%}




  <div class="product__images medium-up--float-left" data-product-images>
    {% for image in product.images %}
      <div class="product__slide">
      {% include 'responsive-image' with
        image: image,
        wrapper_class: 'product__image-wrapper',
        image_class: 'product__image',
      %}
      </div>
    {% endfor %}
  </div>

  {% include 'product-text' %}

  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  {% endunless %}

</section>