<section class="product clearfix" data-section-type="product" data-section-id="{{ section.id }}">


  {%- assign current_variant = product.selected_or_first_available_variant -%}


  {% for image in product.images %}
    {% if forloop.index == 2 %}
      {% include 'product-text' %}
    {% endif %}
    {% include 'responsive-image' with
      image: image,
      wrapper_class: 'product__image-wrapper medium-up--float-left',
      image_class: 'product__image',
    %}
  {% endfor %}


  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  {% endunless %}

</section>